*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: linear-gradient(135deg, #415167 0%, rgba(110, 144, 190, 0.58) 100%);
	background-repeat: no-repeat;
}

#root {
	width: 100%;
}

.container {
	margin: 0 auto;
	padding: 0 15px;
	max-width: 1630px;
	min-width: 320px;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.input-reset {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	border-radius: 0;
	background-color: #fff;

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		display: none;
	}
}

label {
	position: relative;
	display: flex;
	width: 100%;

	& .error {
		position: absolute;
		top: 0;
		right: 10px;
		display: flex;
		align-items: center;
		height: 100%;
		color: red;
		font-size: 12px;
	}
}

form {
	input[type="text"] {
		flex: 1;
		padding: 10px 15px;
		height: 40px;
		border: 1px solid grey;
		border-radius: 10px 0 0 10px;
	}

	& button {
		padding: 12px 10px;
		color: #ffffff;
		background: #415167;
		border: 1px solid #415167;
		border-radius: 0 10px 10px 0;
	}
}

//todo-app
.todo {
	margin: 10vh auto;
	padding: 20px;
	width: 100%;
	max-width: 900px;
	background-color: #fff;
	border-radius: 10px;

	&-top {
		&__title {
			display: flex;
			align-items: center;
			margin-bottom: 20px;
			color: #415167;

			& img {
				margin-left: 15px;
				max-width: 40px;
			}
		}
	}

	&__block {
		position: relative;
		min-height: 50px;
	}
}
