.todo-action {
	display: flex;
	gap: 20px;

	&-form {
		display: flex;
		flex-grow: 1;
		margin-bottom: 20px;

		&__input {
			flex: 1;
			padding: 10px 15px;
			height: 40px;
			border: 1px solid grey;
			border-radius: 10px 0 0 10px;

			&:focus {
				outline: none;
			}
		}

		&__add {
			width: 25%;
			color: #fff;
			background-color: #E47F22;
			border: 1px solid transparent;
			border-radius: 0 10px 10px 0;
			transition: all .3s ease;
			cursor: pointer;

			&:hover {
				background-color: rgb(228, 127, 34, .8);
			}
		}
	}
}
